.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #E7EAF2;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
      width: 1280px;
      padding: 0 18px;
    }
}