@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}