@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-content: flex-start;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 8px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .title {
    margin: 0 0 20px;
  }
}