@import url('https://fonts.cdnfonts.com/css/circe');

.Container {
  padding-top: 20px;
  display: flex;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 728px;
  margin: 0 auto;
}

.Table {
  border-radius: 30px;
  width: 280px;
  position: relative;
}

.TitleList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e78e8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 12px 20px;
}

.TitleItem {
  font-family: 'Circe', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.TitleItem:not(:last-child) {
  margin-right: 25px;
}

.TextList {
  background-color: #4a56e2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 12px 20px 16px;
  min-height: 127px;
}

.TextItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TextItem:not(:last-child) {
  margin-bottom: 12px;
}

.TextItemText {
  font-family: 'Circe', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: #ffffff;
}

.Background {
  background-image: url('../../images/photo/backgroundcurr.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .Wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .Item:first-child {
    width: 100%;
    align-self: flex-start;
  }

  .ItemField:first-child {
    margin-bottom: 30px;
  }

  .Table {
    min-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .Container {
    padding-top: 40px;
    position: relative;
  }

  .Wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 37%;
    margin: 0;
    padding-left: 50px;
    height: 100vh;
    position: relative;
  }

  .Item:first-child {
    margin-bottom: 32px;
  }

  .Table {
    min-width: 393px;
  }

  .TitleList {
    padding: 17px 62px 17px 44px;
  }

  .TextList {
    padding: 20px 61px 0 58px;
    min-height: 287px;
  }

  .Background {
    height: 40%;
  }

  .Line {
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);
    color: #e7e5f2;
    height: calc(100% + 40px);
    top: -47px;
    right: 0;
    position: absolute;
  }
}
