.container {
  font-family: 'Circe';
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px 20px;
  border-radius: 30px;
  margin-bottom: 14px;
}

.tableTitle {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.list {
  font-size: 16px;
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #DCDCDF;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

.categoryColorBox {
  width: 24px;
  height: 24px;
  background-color: aquamarine;
  margin-right: 16px;
}

.textWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listItemText {
  font-family: 'Circe';
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.totalWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 336px;
    padding-top: 20px;
  }

  .selectWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  .listItem {
    padding: 16px 30px;
  }

  .totalWrapper {
    padding: 16px 30px 0;
  }
}